/* checkout.css */
.checkout {
    display: flex;
    padding: 20px;
    background-color: whitesmoke;
    height: max-content;
    position: relative; /* Add this line */
}

.checkout__image{
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title{
   
    max-width: 300px;
    padding: 10px;
    
}

